

.container{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #EFF1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 25px;
    border-color: #ffffff;
    border-radius: 50px;
}
.title{
    display: flex;
    justify-items: center;
    align-items: center;
    color: #1976D2;
    font-size: larger;
    gap: 5px;
}
.titleUnder{
    text-decoration: underline;
}
.formAdd{
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0.1px #b8aeae;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.filters{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    border-style: solid;
    border-top-color: #b8aeae;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    padding-top: 3%;
}
.selects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
}
.cardText{
text-align: justify;
}
.tasks{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.check{
    margin-top: 15px;
}
.cardEnd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    margin-left: 50px;
}
.btnEdits{
    border-style: none;
    width: 40px;
    height: 40px;
}
.inputTodo{
    border-width: 0;
    font-size: 15px;
    width: 800px;
    height: 40px;
    outline: none;
}


@media screen and (max-width: 1300px) {
    .inputTodo{
        border-width: 0;
        font-size: 15px;
        width: 700px;
        height: 40px;
    }
}
@media screen and (max-width: 1000px) {
    .inputTodo{
        border-width: 0;
        font-size: 15px;
        width: 500px;
        height: 40px;
    }
}



@media screen and (max-width: 730px) {
    .inputTodo{
        border-width: 0;
        font-size: 15px;
        width: 200px;
        height: 40px;
    }
}